extends layouts/default.pug
include mixins/product-item.pug

block title 
    title Danh sách sản phẩm 

block main 
    //- Breadcrumb
    .breadcrumb     
        .container 
            nav.breadcrumb__wrap 
                ul 
                    li 
                        a(href = "#") Trang Chủ
                    li 
                        a(href = "#") Chó
                    li 
                        a(href = "#") Chó Nhỏ
    
    include partials/section3.pug

    .section5 
        .container 
            .section5__wrap 
                .section5__left 
                    .box-filter 
                        .box-filter__title 
                            img(src = "assets/images/filter.svg")
                            | Bộ lọc
                        .box-filter__group 
                            .box-filter__group-label Giống  
                            .box-filter__group-list 
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Đực
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Cái
                        .box-filter__group 
                            .box-filter__group-label Màu sắc  
                            .box-filter__group-list 
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Xám
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Đen
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Trắng
                        .box-filter__group 
                            .box-filter__group-label Kích thước  
                            .box-filter__group-list 
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Nhỏ
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Vừa
                                .box-filter__group-item 
                                    input(type = "checkbox" id = "")
                                    label Lớn
                .section5__right 
                    -
                        var pets = [
                            {
                                image: 'assets/images/Frame 7.png',
                                title: 'MO231 - Pomeranian Trắng',
                                gender: 'Đực',
                                age: '02 tháng',
                                price: '6.900.000 VND'
                            },
                            {
                                image: 'assets/images/image 2.png',
                                title: 'MO502 - Poodle Tiny Vàng',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '3.900.000 VND'
                            },
                            {
                                image: 'assets/images/image 3.png',
                                title: 'MO102 - Poodle Tiny Sepia',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '4.000.000 VND'
                            },
                            {
                                image: 'assets/images/image 4.jpg',
                                title: 'MO512 - Alaskan Malamute',
                                gender: 'Đực',
                                age: '03 tháng',
                                price: '8.000.000 VND'
                            },
                            {
                                image: 'assets/images/Frame 7.png',
                                title: 'MO231 - Pembroke Corgi',
                                gender: 'Đực',
                                age: '02 tháng',
                                price: '7.900.000 VND'
                            },
                            {
                                image: 'assets/images/image 6.jpg',
                                title: 'MO502 - Pembroke Corgi',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '9.000.000 VND'
                            },
                            {
                                image: 'assets/images/image 7.jpg',
                                title: 'MO231 - Pomeranian Trắng',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '6.500.000 VND'
                            },
                            {
                                image: 'assets/images/image 8.jpg',
                                title: 'MO512 - Poodle Tiny',
                                gender: 'Đực',
                                age: '02 tháng',
                                price: '5.000.000 VND'
                            },  
                            {
                                image: 'assets/images/Frame 7.png',
                                title: 'MO231 - Pembroke Corgi',
                                gender: 'Đực',
                                age: '02 tháng',
                                price: '7.900.000 VND'
                            },
                            {
                                image: 'assets/images/image 6.jpg',
                                title: 'MO502 - Pembroke Corgi',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '9.000.000 VND'
                            },
                            {
                                image: 'assets/images/image 7.jpg',
                                title: 'MO231 - Pomeranian Trắng',
                                gender: 'Cái',
                                age: '02 tháng',
                                price: '6.500.000 VND'
                            },
                            {
                                image: 'assets/images/image 8.jpg',
                                title: 'MO512 - Poodle Tiny',
                                gender: 'Đực',
                                age: '02 tháng',
                                price: '5.000.000 VND'
                            }  
                        ];
                    .section5__head 
                        .section5__title Chó Nhỏ
                        .box-filter__title 
                            img(src = "assets/images/filter.svg")
                            | Bộ lọc
                    .section5__list 
                        each pet in pets
                            +product-item(pet)
                            
                    nav.pagination 
                        ul 
                            li 
                                a(href = "#" class = "pagination__item") <i class="fa-solid fa-arrow-left"></i>
                            li 
                                a(href = "#" class = "pagination__item pagination__item--active") 1
                            li 
                                a(href = "#" class = "pagination__item") 2
                            li 
                                a(href = "#" class = "pagination__item") 3
                            li 
                                a(href = "#" class = "pagination__item") 4
                            li 
                                a(href = "#" class = "pagination__item") ...
                            li 
                                a(href = "#" class = "pagination__item") 28
                            li 
                                a(href = "#" class = "pagination__item") <i class="fa-solid fa-arrow-right"></i>