.section3 
        .container 
            .section3__wrap 
                .section3__image 
                    img(src = "assets/images/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png")
                .section3__content 
                    .section3__content__title 
                        .section3__content__title--main Thêm Một Bạn 
                        .section3__content__title--sub Thêm Ngàn Niềm Vui! 
                    .section3__content__desc Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                    .section3__button 
                        a(href = "#" class = "button-outline") Giới Thiệu 
                            i(class="fa-regular fa-circle-play")
                        a(href = "#" class="button") Khám Phá Ngay
