<!DOCTYPE html >
<html>   
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </head>
  <body> 
    <div class="header"> 
      <div class="container"> 
        <div class="header__wrap">
          <div class="header__logo"> <a href="index.html"><img src="assets/images/Frame.svg" alt="Monito"/></a></div>
          <div class="header__menu-mobile"> <i class="fa-solid fa-bars"></i></div>
          <nav class="header__menu"> 
            <ul> 
              <li> <a href="index.html">Trang Chủ</a></li>
              <li> <a href="../../product-list.html">Danh Mục</a></li>
              <li> <a href="#">Giới Thiệu</a></li>
              <li> <a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <button class="header__search-mobile"> <i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="header__form" action="#">
            <input name="keyword" placeholder="Nhập từ khóa..."/>
            <button> <i class="fa-solid fa-magnifying-glass"></i></button>
          </form><a class="button" href="#">Tham Gia Cộng Đồng</a>
        </div>
      </div>
    </div>
    <div class="footer"> 
      <div class="container"> 
        <div class="footer__top"> 
          <div class="footer__top__content"> 
            <h3>Đăng Ký Ngay Để Không Bỏ Lỡ Các Chương Trình Của Chúng Tôi</h3>
          </div>
          <form class="footer__top__form">
            <input placeholder="Nhập email của bạn..." type="email"/><a class="footer__top__form--button" href="#">Đăng Ký Ngay</a>
          </form>
        </div>
        <div class="footer__mid"> 
          <nav class="footer__mid__menu"> 
            <ul> 
              <li> <a href="index.html">Trang Chủ</a></li>
              <li> <a href="#">Danh Mục</a></li>
              <li> <a href="#">Giới Thiệu</a></li>
              <li> <a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__mid__icon"> 
            <ul> 
              <li> <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li> <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__bottom"> 
          <div class="footer__bottom__desc">© 2023 28Tech. All rights reserved.</div>
          <div class="footer__bottom__logo"> <a href="#"><img src="assets/images/Frame.svg"/></a></div>
          <div class="footer__bottom__list"> 
            <ul> 
              <li> <a href="#">Điều khoản</a></li>
              <li> <a href="#">Chính sách bảo mật</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>